.card {
    width: 451px;
    height: auto;
    border-radius: 0;
    box-shadow: 5px 5px 5px #e2e2e2;
}

.cardContainer {
    display: flex;
}

.cardImage {
}

.cardInfo {
    position: relative;
    width: 371px;
    box-sizing: border-box;
    max-width: 271px;
    padding: 10px 20px;
}

.cardTitle {
    max-width: 200px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 7px 0;
    line-height: 120%;
}

.date {
    color: #827e7e;
    margin-top: 7px;
    margin-bottom: 9px;
}

.containerTag {
    padding: 2px 4px;
    align-items: center;
}

.wrapperTags {
    height: 27px;
    overflow: hidden;
}

.cardParagraph {
    position: relative;
    width: 100%;
    font-size: 12px;
    margin: 0;
    margin-top: 10px;
    white-space: wrap;
}

/*width: 230px;*/
/*height: 130px;*/
/*font-size: 12px;*/
/*margin: 0;*/
/*margin-top: 10px;*/
/*overflow: hidden;*/
/*text-overflow: ellipsis;*/

.containerDescription {
    height: 120px;
    width: 230px;
}

.estimation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #e9d100;
    font-size: 12px;
}

.rate {
    position: absolute;
    font-size: 16px;
    bottom: 10px;
}

.green-border {
    border: 2px solid #66E900;
}

.yelow-border {
    border: 2px solid #E9D100;
}

.orange-border {
    border: 2px solid #E97E00;
}

.red-border {
    border: 2px solid #E90000;
}

@media (max-width: 468px) {
    .card {
        width: 100%;
        height: auto;
    }

    .cardInfo {
        width: 100%;
        min-height: 270px;
        padding: 5px 7px;
    }

    .cardParagraph {
        width: auto;
    }

    .cardImage {
        min-width: 100px;
    }

}