.MovieCard_card__CdV4O {
  border-radius: 0;
  box-shadow: 5px 5px 5px #e2e2e2;
  height: auto;
  width: 451px;
}
.MovieCard_cardContainer__g-zcv {
  display: flex;
}
.MovieCard_cardInfo__\+0ytw {
  box-sizing: border-box;
  max-width: 271px;
  padding: 10px 20px;
  position: relative;
  width: 371px;
}
.MovieCard_cardTitle__ojzux {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin: 0 0 7px;
  max-width: 200px;
}
.MovieCard_date__6FEaQ {
  color: #827e7e;
  margin-bottom: 9px;
  margin-top: 7px;
}
.MovieCard_containerTag__zex17 {
  align-items: center;
  padding: 2px 4px;
}
.MovieCard_wrapperTags__HEmwQ {
  height: 27px;
  overflow: hidden;
}
.MovieCard_cardParagraph__ltzm9 {
  font-size: 12px;
  margin: 10px 0 0;
  position: relative;
  white-space: wrap;
  width: 100%;
}
.MovieCard_containerDescription__Prga- {
  height: 120px;
  width: 230px;
}
.MovieCard_estimation__UT5vg {
  align-items: center;
  border: 2px solid #e9d100;
  border-radius: 50%;
  display: flex;
  font-size: 12px;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}
.MovieCard_rate__CH0Ff {
  bottom: 10px;
  font-size: 16px;
  position: absolute;
}
.MovieCard_green-border__1UWxq {
  border: 2px solid #66e900;
}
.MovieCard_yelow-border__eVR0v {
  border: 2px solid #e9d100;
}
.MovieCard_orange-border__qwTGL {
  border: 2px solid #e97e00;
}
.MovieCard_red-border__dbL8W {
  border: 2px solid #e90000;
}
@media (max-width: 468px) {
  .MovieCard_card__CdV4O {
    height: auto;
    width: 100%;
  }
  .MovieCard_cardInfo__\+0ytw {
    min-height: 270px;
    padding: 5px 7px;
    width: 100%;
  }
  .MovieCard_cardParagraph__ltzm9 {
    width: auto;
  }
  .MovieCard_cardImage__F8PiN {
    min-width: 100px;
  }
}
.MainPage_containerPage__jmLUp {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 985px;
}
.MainPage_content__s4p-w {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 938px;
  width: 100%;
}
.MainPage_containerItems__QEnjF {
  grid-gap: 36px;
  display: grid;
  gap: 36px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 36px;
}
.MainPage_spin__1BAxj {
  align-items: center;
  left: 50%;
  position: absolute;
  top: 50%;
}
.MainPage_alertError__SHzZq {
  position: absolute;
  right: 10px;
  top: 10px;
}
@media (max-width: 999px) {
  .MainPage_containerItems__QEnjF {
    gap: 16px;
  }
}
@media (max-width: 934px) {
  .MainPage_containerItems__QEnjF {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 36px;
  }
}
@media (max-width: 600px) {
  .MainPage_containerItems__QEnjF {
    gap: 13px;
    margin: 0 1px;
  }
}
.SearchInput_input__LADwW {
  margin-bottom: 36px;
  max-width: 938px;
}
.TabsRating_tabs__IIQDc {
  margin-bottom: 5px;
}
.NetworkStatus_containerOffline__VJJXk {
  align-items: center;
  background: #fbfbfb;
  border: 1px solid #e8e7e7;
  border-radius: 15px;
  display: flex;
  gap: 1rem;
  height: 150px;
  justify-content: center;
  margin: 10% auto 0;
  width: 500px;
}
/*# sourceMappingURL=main.829748f4.css.map*/
